<div class="content-wrapper">
    <div class="content">
        <div class="content-form-wrapper">
            <h2>{{stats.titulo}}</h2>
            <h5>Total votos: {{stats.votosTotales}}</h5>
            <h5>Fecha de creación: {{stats.creationDate | date}}</h5>
            <div class="respuestas-container">
                <div class="row">

                    <div class="section-container" *ngFor="let pregunta of stats.fields; let i = index;">
                        <div class="section">
                            <h3>{{i+1}} - {{pregunta.texto}}</h3>
                        </div>
                        <article *ngIf="pregunta.tipo === 0" class="text-result">
                            <div class="multiples" *ngFor="let respuesta of pregunta.respuestas; let i = index;">
                                <div class="title">
                                    <h4>{{respuesta}} - Votos: {{pregunta.votos[i]}}</h4>
                                </div>
                                <div class="q-content">
                                    <div class="percent" [style.width.%]="pregunta.porcentajes[i]"></div>
                                    <span>{{pregunta.porcentajes[i]}}%</span>
                                </div>
                            </div>
                        </article>
                        <article *ngIf="pregunta.tipo === 1" class="text-result">
                            <div class="multiples" *ngFor="let respuesta of pregunta.respuestas; let i = index;">
                                <div class="title">
                                    {{respuesta}} - Votos: {{pregunta.votos[i]}}
                                </div>
                                <div class="q-content">
                                    <div class="percent" [style.width.%]="pregunta.porcentajes[i]"></div>
                                    <span>{{pregunta.porcentajes[i]}}%</span>
                                </div>
                            </div>
                        </article>
                        <article *ngIf="pregunta.tipo === 2" class="text-result">
                            <div class="resp" *ngFor="let respuesta of pregunta.respuestas; let i = index;">
                                <div class="title">
                                    {{respuesta.usuario}}
                                </div>
                                <div class="content-text">
                                    {{respuesta.respuesta}}
                                </div>
                            </div>
                        </article>
                        <article *ngIf="pregunta.tipo === 3" class="text-result">
                            <div class="resp" *ngFor="let respuesta of pregunta.respuestas; let i = index;">
                                <div class="title">
                                    {{respuesta.usuario}}
                                </div>
                                <div class="content-text">
                                    {{respuesta.respuesta}}
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

