.content{
    padding-top: 10px;

    h5{
        display:inline;
        margin: 10px;
        color:white;
    }
    .respuestas-container{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    
        .row{
            width:100%;
            margin-bottom: 27px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
    
            .section-container{
                width: 500px;
                border: 2px solid
                #3f3d56;
                margin: 10px;
                
                .text-result{
                    text-align:left;
                    font-size:15px;
                    margin-bottom: 10px;
                    margin: 0px 80px;
                    .multiples{
                        border: 1px solid#3f3d56;
                        margin-bottom: 10px;
                        h4{
                            margin:0;
                            color:white;
                        }
                        .q-content{
                            margin: 0 20px;
                            text-align:center;
                            position: relative;
                            margin:0px;
                            width:100%;
                        }
                    }
                    .resp {
                        border: 1px solid#3f3d56;
                        margin-bottom: 10px;
                        .content-text{
                            margin:0px 10px;
                            overflow: hidden;
                            word-wrap: break-word;
                        }
                    }
        
                    .title{
                        padding:0 10px;
                        background-color:#3f3d56;
                    }
                    .q-content{
                        width: 95%;
                        .percent{
                            background-color:#BBB5FF;
                            position: relative;
                            height:30px;
                        }
                        span{
                            position: absolute;
                            top: 5px;
                            left: 48.5%;
                            width: 25px;
                        }
                    }
                }
            }
    
            .section{
                background:#3f3d56;
                margin: 0;
                margin-bottom: 0px;
                padding: 10px 0px;
                margin-bottom: 10px;
                h3{
                    margin: 0;
                    color:white;
                }
            }

        }
    }
    
}
