<div class="content">

    <div class="content-header">
        <h1>¡Encuesta creada correctamente!</h1>
    </div>

    <div class="content-body">
        <p>*La encuesta estará disponible durante 15 días para poder votar y durante 10 días más para poder visualizar los resultados. 
            Después de este periodo se borrará automáticamente. 
        </p>
        <p>*Un voto permitido por dirección IP.</p>
        <p>Comparte tu encuesta: <a href="{{urlRedirect}}{{id}}">{{urlRedirect}}{{id}}</a></p>
        <p>Seguimiento: <a href="{{urlRedirect}}{{id}}">{{urlRedirect}}{{id}}</a></p>
    </div>
</div>

