.content{
    padding: 70px 0px;
    .content-wrapper{
        width: 500px;
        margin: 0 auto;
        background-color: rgba(187, 181, 255, 0.2);
        border-radius: 2.5px;
        border: 2px solid var(--main-color);
        margin-top:35px;
        padding-bottom: 10px;
        display:flex;
        flex-direction: column;
        .content-header{
            padding: 5px;
            text-align: center;
            h1{
                margin:0;
                color:white;
            }
            background-color:var(--main-color);
        }
        .content-body{
            padding: 0px 20px;
            word-wrap: break-word;
            width: 467px;
            margin: 0 auto;
            a{
                display:block;
            }
        }
    }
}
