
<div class="content-wrapper">
    <div class="content">
        <div class="content-form-wrapper" *ngIf="user">
            <img src="{{user.photoUrl}}">
            <h1>Bienvenido {{user.name}}</h1>

            <div class="ajustes-container">
                <div class="fila">
                    <div class="columna">
                        <div class="columna-wrapper">
                            <h2>Encuestas Activas: <span *ngIf="encuestas">{{encuestas.length}}</span></h2>
                            <p *ngIf="!encuestas">No existen encuestas</p>
                            <div class="encuestas-resumen" *ngIf="encuestas">
                                <table class="enc-table">
                                    <tr class="tr-header">
                                        <th>Acciones</th>
                                        <th>Título</th>
                                        <th>Votos</th>
                                    </tr>
                                    <tr *ngFor="let encuesta of encuestas">
                                        <td>
                                            <a href="http://localhost:4200/encuestas/seguimiento/{{encuesta._id}}">Ver</a>
                                            -
                                            <a href="http://localhost:4200/encuestas/{{encuesta._id}}">Votar</a>
                                        </td>
                                        <td>{{encuesta.title}}</td>
                                        <td>{{encuesta.votosTotales}}</td>
                                    </tr>
                                  </table> 
                            </div>
                        </div>
                    </div>
                    <div class="columna">
                        <div class="columna-wrapper">
                            <h2>Perfil:</h2>
                            <h4>Email</h4>
                            <span>{{user.email}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message-url">
                <button class="action-btn big-btn" (click)="signOut()"><fa name="power-off"></fa> Cerrar sesión</button>
            </div>
        </div>
    </div>
</div>
