<div class="page-content">
    <div class="content">
        <div class="content-form-wrapper" *ngIf="user">
            <img src="{{user.photoUrl}}">
            <h1>Bienvenid@ {{user.name}}</h1>

            <div class="ajustes-container">
                <div *ngIf="!encuestas">
                    <app-spinner></app-spinner>
                </div>
                <div class="fila" *ngIf="encuestas">
                    <div class="columna">
                        <div class="columna-wrapper">
                            
                            <h2>Encuestas Activas: <span>{{encuestas.length}}</span></h2>
                            <table class="enc-table" *ngIf="encuestas.length > 0">
                                <tr class="tr-header">
                                    <th>Acciones</th>
                                    <th>Título</th>
                                    <th>Votos</th>
                                </tr>
                                <tr *ngFor="let encuesta of encuestas">
                                    <td>
                                        <button title="Ver" class="btn action-btn" [routerLink]="['/encuestas/seguimiento/' + encuesta._id]"><fa name="eye"></fa></button>
                                        <button title="Votar" class="btn action-btn" [routerLink]="['/encuestas/' + encuesta._id]"><fa name="arrow-up"></fa></button>
                                        <button title="Eliminar" class="btn action-btn" (click)="openSaveOverlayMenu(encuesta._id)"><fa name="trash"></fa></button>
                                    </td>
                                    <td>{{encuesta.title}}</td>
                                    <td>{{encuesta.votosTotales}}</td>
                                </tr>
                                </table> 
                        </div>
                        <div class="columna-wrapper">
                            <h4>Email</h4>
                            <span>{{user.email}}</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="message-url">
                <button class="btn action-btn big-btn" (click)="signOut()"><fa name="power-off"></fa> Cerrar sesión</button>
            </div>
        </div>
    </div>


     <!-- Save overlay menu -->
    <div class="popup" *ngIf="saveOverlayMenu">
        <div class="popup-box">
            <div class="fields-menu">
                <h4>¿Estás seguro de querer borrar la encuesta? <br>La encuesta ya no será accesible ni tampoco sus resultados.</h4>
                <button class="btn action-btn" type="button" (click)="openSaveOverlayMenu()"><fa name="arrow-left"></fa> Cancelar</button>
                <button class="btn action-btn" type="button" (click)="eliminarEncuesta()"><fa name="check"></fa> Borrar</button>
                
                <button class="btn overlay-btn btn-round" type="button" (click)="openSaveOverlayMenu()"><fa name="close"></fa></button>
            </div>
        </div>
    </div>
</div>

