
<div class="content-wrapper">
    <div class="content">
        <div class="content-form-wrapper">
            <h1>3- Configura tu encuesta y publica</h1>
            <div class="survey-actions">
                <button class="action-btn" (click)="return()" type="button"><fa name="arrow-left"></fa> Volver atrás</button>
            </div>
            <div class="ajustes-container">
                <div class="fila">
                    <div class="columna">
                        <div class="columna-wrapper">
                            <h2>Previsualización</h2>
                            <form class="survey-form">
        
                                <!-- Title -->
                                <div class="survey-header">
                                    <div class="header-wrapper">
                                        <h1>{{encuesta.title}}</h1>
                                    </div>
                                </div>
                        
                                <div class="form-fields">
                                    <div class="form-group" *ngFor="let field of encuesta.fields">
                                        <h3>{{field.texto}}</h3>
                                        <select *ngIf="field.tipo===1">
                                            <option *ngFor="let item of field.respuestas">{{item}}</option>
                                        </select>
                        
                                        <ul *ngIf="field.tipo===2">
                                            <li *ngFor="let item of field.respuestas">
                                                    <span>{{item}}
                                                    <input type="radio"></span>
                                            </li>
                                        </ul>
                        
                                        <input *ngIf="field.tipo===3" type="text">
                        
                                        <textarea *ngIf="field.tipo===4"></textarea>
                        
                                    </div>
                                </div>
                                <div class="button-edit-container">
                                    <input class="input-btn" type="submit" value="{{encuesta.buttonText}}" [disabled]="true"> 
                                </div>
                        
                            </form>
                        </div>
                    </div>
                    <div class="columna">
                        <div class="columna-wrapper">
                            <h2>Ajustes</h2>
                            <form [formGroup]="configForm">
                                <h4>¿Mostrar resultados al votar?</h4>
                                <select id="opt1" formControlName="option1">
                                    <option value="0">
                                        Sí
                                    </option>
                                    <option value="1">
                                        No
                                    </option>
                                </select>
                                <h4>¿Mostrar nombre en lista de resultados?</h4>
                                <select id="opt2" formControlName="option2">
                                    <option value="0">
                                        Sí
                                    </option>
                                    <option value="1">
                                        No
                                    </option>
                                </select>
                                <h4>Número máximo de participantes:</h4>
                                <input type="number" id="opt3" formControlName="option3">
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- Save overlay menu -->
            <div class="overlay-box">
                <div class="fields-menu-container" *ngIf="saveOverlayMenu">
                    <div class="fields-menu">
                        <h4>¿Estás seguro de querer publicar tu encuesta? <br>No podrás volver atrás después de publicar.</h4>
                        <button class="action-btn" type="button" (click)="openSaveOverlayMenu()"><fa name="arrow-left"></fa> Volver</button>
                        <button class="action-btn" type="button" (click)="saveSurvey()"><fa name="check"></fa> Publicar</button>
                        
                        <button class="round-btn overlay-btn" type="button" (click)="openSaveOverlayMenu()"><fa name="close"></fa></button>
                    </div>
                </div>
            </div>
            <div class="message-url">
                <button class="action-btn big-btn" (click)="openSaveOverlayMenu()"><fa name="save"></fa> Publicar</button>
            </div>
        </div>
    </div>
</div>



