<div class="header-wrapper">
    <div class="title">
        <div class="title-wrapper">
            <fa name="braille"></fa>
            <h2>SurveyMaker</h2>
        </div>
    </div>
    <div class="menu-container">
        <nav class="main-menu">
            <ul>
                <a [routerLink]="['home']" routerLinkActive="router-link-active">
                    <li>
                        Inicio
                    </li>
                </a> 
                <a [routerLink]="['encuestas/crear-encuesta/']" routerLinkActive="router-link-active">
                    <li>
                        Crear Encuesta
                    </li>
                </a> 
                <a [routerLink]="['mi-cuenta']" routerLinkActive="router-link-active">
                    <li>
                        Mi cuenta
                    </li>
                </a> 
            </ul>
        </nav>
    </div>
</div>