<div class="header-wrapper">
    <div class="title">
        <div class="title-wrapper">
            <fa name="braille"></fa>
            <h2>SurveyMaker</h2>
        </div>
    </div>
    <div class="menu-container">
        <nav class="main-menu">
            <ul>
                <a [routerLink]="['home']" class="only-desktop" routerLinkActive="router-link-active">
                    <li>
                        Inicio
                    </li>
                </a> 
                <a [routerLink]="['encuestas/crear-encuesta/']" class="only-desktop" routerLinkActive="router-link-active">
                    <li>
                        Crear Encuesta
                    </li>
                </a> 
                <a [routerLink]="['mi-cuenta']" class="only-desktop" routerLinkActive="router-link-active">
                    <li>
                        Mi cuenta
                    </li>
                </a> 
                <a (click)="fireMenu()" class="mobile-icon">
                    <li>
                        <fa name="bars"></fa>
                    </li>
                </a> 
            </ul>
        </nav>
    </div>
</div>

<div class="mobile-menu" [ngClass]="{ menuopen: menuOpen}">
    <div class="mobile-menu-wrapper">
        <div class="menu-box">
            <a [routerLink]="['home']" (click)="fireMenu()" routerLinkActive="router-link-active">
                Inicio
            </a> 
            <a [routerLink]="['encuestas/crear-encuesta/']" (click)="fireMenu()" routerLinkActive="router-link-active">
                    Crear Encuesta
            </a> 
            <a [routerLink]="['mi-cuenta']" (click)="fireMenu()" routerLinkActive="router-link-active">
                    Mi cuenta
            </a> 
        </div>
        <button *ngIf="menuOpen" (click)="fireMenu()" class="close-btn"><fa name="close"></fa></button>
    </div>

</div>