.header-wrapper{
    font-family: var(--main-font);
    background-color:#3f3d56;
    display: flex;
    align-items: stretch;
    height: 48px;
    .title{
        background-color:#3f3d56;
        color:white;
        padding:5px 12.5px;
        width:180px;
        .title-wrapper{
            display:flex;
            align-items: center;
        }
        h2{
            margin:0px;
            color:white;
        }
        fa{
            font-size: 25px;
            margin-right:5px;
        }
    }
    .menu-container{
        display: flex;
        flex: 3;
        justify-content: flex-end;
        margin-right:20px;
        
        .main-menu{
            display: flex;
            font-weight:bold;
            .router-link-active{
                color:var(--secondary-color);
                cursor:context-menu;
            }
            a{
                text-decoration: none;
                color: white;
                text-transform: uppercase;
            }
            a:hover{
                color:var(--secondary-color);
            }
            ul{
                display: flex;
                align-items: center;
                li{
                    display:inline;
                    padding:10px;
                }
            }
        }
    }

}

.mobile-menu{
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    bottom: 0;
    right: 0;
    left: 20%;
    z-index: 9999999;
}