.header-wrapper{
    font-family: 'Titillium Web', sans-serif;
    background-color:#60cdcb;
    display: flex;
    align-items: stretch;

    .title{
        background-color:#60cdcb;
        color:white;
        padding:5px 12.5px;
        width:180px;
        .title-wrapper{
            display:flex;
            align-items: center;
        }
        h2{
            margin:0px;
        }
        fa{
            font-size: 25px;
            margin-right:5px;
        }
    }
    .menu-container{
        display: flex;
        flex: 3;
        justify-content: flex-end;
        margin-right:20px;
        .main-menu{
            display: flex;
            font-weight:bold;
            .router-link-active{
                text-decoration: underline;
            }
            a{
                text-decoration: none;
                color:white;
            }
            a:hover{
                text-decoration: underline;
            }
            ul{
                display: flex;
                align-items: center;
                li{
                    display:inline;
                    padding:10px;
                }
            }
        }
    }

}