.header-wrapper{
    font-family: var(--main-font);
    background-color:#3f3d56;
    display: flex;
    align-items: stretch;
    height: 48px;
    .title{
        background-color:#3f3d56;
        color:white;
        padding:5px 12.5px;
        width:180px;
        .title-wrapper{
            display:flex;
            align-items: center;
            margin-top: -3px;
            fa{
                padding-top: 3px;
            }
        }
        h2{
            margin:0px;
            color:white;
        }
        fa{
            font-size: 25px;
            margin-right:5px;
        }
    }
    .menu-container{
        display: flex;
        flex: 3;
        justify-content: flex-end;
        margin-right:20px;
        
        .main-menu{
            display: flex;
            font-weight:bold;
            .router-link-active{
                color:var(--secondary-color);
                cursor:context-menu;
            }
            a{
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                cursor:pointer;
            }
            a:hover{
                color:var(--secondary-color);
            }
            ul{
                display: flex;
                align-items: center;
                li{
                    display:inline;
                    padding:10px;
                }
            }
        }
    }

}

.menuopen{
    left: 20%!important;
}
.mobile-menu{
    position: fixed;
    top: 0;
    background-color: #3f3d56;
    bottom: 0;
    right: 0;
    left: 120%;
    z-index: 9999999;
    display: flex;
    box-shadow: -5px 0px 15px 2px rgba(0,0,0,0.4);
    transition: 1s;
    .mobile-menu-wrapper{
        display: flex;
        flex-direction: column;
        position:relative;
        width:100%;
        height:100%;
        justify-content: center;

        text-align:center;
        a{
            color: white;
            text-transform: uppercase;
            text-decoration: none;
            font-size:25px;
                margin:10px 0px;

        }
        .menu-box{
            width:200px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
        .close-btn{
            position: absolute;
            top:10px;
            right:15px;
            color:white;
            border:none;
            background-color: transparent;
            font-size:25px;
            cursor:pointer;
        }
    }
}

