<div class="content-form-wrapper">
    <div class="survey-stats">
        <span>Encuesta número: 2340876</span>
    </div>
    <form class="survey-form">
        <div class="survey-header">
            <h1>Mi Encuesta Personalizada</h1>
        </div>
        <div class="form-group">
            <h3>Pregunta número 1</h3>
            <select>
                <option>Custom option 1</option>
                <option>Custom option 2</option>
            </select>
        </div>
        <div class="form-group">
            <h3>Pregunta número 2</h3>
            <select>
                <option>Custom option 1</option>
                <option>Custom option 2</option>
            </select>
        </div>
        <div class="form-group">
            <h3>Pregunta número 3</h3>
            <select>
                <option>Custom option 1</option>
                <option>Custom option 2</option>
            </select>
        </div>
    </form>
</div>