<div class="content-wrapper">
    <div class="sidebar">
        <div class="menu">
            <nav>
                <ul>
                    <li><a routerLink="/free/campos" routerLinkActive="router-link-active">Preview</a></li>
                    <li><a routerLink="/free/compartir" routerLinkActive="router-link-active">Plantillas</a></li>
                    <li><a routerLink="/free/ajustes" routerLinkActive="router-link-active">Ajustes</a></li>
                    <li><a routerLink="/free/compartir" routerLinkActive="router-link-active">Compartir</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="content">
        <router-outlet name="sidebar"></router-outlet> 
    </div>
</div>
