<div class="content-wrapper">

    <div class="content">
        <div class="content-form-wrapper">

            <h1>2- Configura los campos</h1>
            <div class="survey-actions">
                <button class="action-btn" (click)="return()" type="button"><fa name="arrow-left"></fa> Volver atrás</button>
                <button class="action-btn" (click)="resetSurvey()" type="button"><fa name="refresh"></fa> Resetear campos</button>
            </div>
            <p *ngIf="error">*{{error}}</p>
            <form class="survey-form">
        
                <!-- Title -->
                <div class="survey-header">
                    <div class="header-wrapper">
                        <h1>{{encuesta.title}}</h1>
                        <div class="edit-title-controls">
                            <button class="round-btn title-btn" type="button" (click)="openTitleEditMenu()"><fa name="edit"></fa></button>
                        </div>
                    </div>
                </div>
        
                <div class="form-fields">
                    <div class="form-group" *ngFor="let field of encuesta.fields" >
                        <h3>{{field.texto}}</h3>
                        <select *ngIf="field.tipo===1">
                            <option *ngFor="let item of field.respuestas">{{item}}</option>
                        </select>
        
                        <ul *ngIf="field.tipo===2">
                            <li *ngFor="let item of field.respuestas">
                                    <span>{{item}}
                                    <input type="radio"></span>
                            </li>
                        </ul>
        
                        <input *ngIf="field.tipo===3" type="text">
        
                        <textarea *ngIf="field.tipo===4"></textarea>
        
                        <div class="controls">
                            <button class="round-btn" (click)="deleteField(field.id)" type="button"><fa name="trash"></fa></button>
                            <button class="round-btn" (click)="openEditFieldMenu(field.id)" type="button"><fa name="edit"></fa></button>
                        </div>
                    </div>
                    <!-- Add section menu -->
                    <div class="overlay-box" >
                        <div class="fields-menu-container" *ngIf="addFieldsMenu">
                            <div class="fields-menu ptop-35">
                                <button class="round-btn overlay-btn" type="button" (click)="openNewFieldsMenu()"><fa name="close"></fa></button>
                                <button class="action-btn" type="button" (click)="addField(1)">Opción única</button>
                                <button class="action-btn" type="button" (click)="addField(2)">Opción múltiple</button>
                                <button class="action-btn" type="button" (click)="addField(3)">Campo de texto corto</button>
                                <button class="action-btn" type="button" (click)="addField(4)">Texto largo</button>
                            </div>
                        </div>
                        <button class="round-btn mtop-15" type="button" (click)="openNewFieldsMenu()"><fa name="plus"></fa></button>
                    </div>
                    <!-- Title menu -->
                    <div class="overlay-box">
                        <div class="fields-menu-container" *ngIf="editTitleMenu">
                            <div class="fields-menu">
                                <h2>Nuevo título</h2>
                                <input type="text" value="{{encuesta.title}}" name="title" [(ngModel)]="encuesta.title">
                                <button class="action-btn mtop-20" type="button" (click)="openTitleEditMenu()">Guardar</button>
                                <button class="round-btn overlay-btn" type="button" (click)="openTitleEditMenu()"><fa name="close"></fa></button>
                            </div>
                        </div>
                    </div>
                    <!-- Edit field menu -->
                    <div class="overlay-box">
                        <div class="fields-menu-container" *ngIf="editFieldMenu">
                            <div class="fields-menu">
                                <form (submit)="saveMenuForm()">
                                    <h2>Nuevo título</h2>
                                    <input type="text" value="{{editField.texto}}" name="title" [(ngModel)]="editField.texto">
                                    <div *ngIf="editField.tipo === 1 || editField.tipo === 2">
                                        <h2>Posibles respuestas</h2>
                                        <div *ngFor="let answer of editField.respuestas; let i = index; trackBy: trackByFn" class="controls-overlay-container">
                                            <input  type="text"  name="answer{{i}}" [(ngModel)]="editField.respuestas[i]">
                                            <button class="close-input-btn" type="button" (click)="deleteFieldFromEditField(i)"><fa name="trash"></fa></button>
                                        </div>
                                        <button class="add-btn-mini" (click)="addFieldsToEditField()" type="button"><fa name="plus"></fa></button>
                                    </div>
                                    
                                    <button class="action-btn mtop-20 save-btn">Guardar</button>
                                    <button class="round-btn overlay-btn" type="button" (click)="openEditFieldMenu()"><fa name="close"></fa></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Edit btn menu -->
                    <div class="overlay-box">
                        <div class="fields-menu-container" *ngIf="editButtonMenu">
                            <div class="fields-menu">
                                <h2>Nuevo título</h2>
                                <input type="text" value="{{encuesta.buttonText}}" name="title" [(ngModel)]="encuesta.buttonText">
                                <button class="action-btn mtop-20" type="button" (click)="openEditBtnMenu()">Guardar</button>
                                <button class="round-btn overlay-btn" type="button" (click)="openEditBtnMenu()"><fa name="close"></fa></button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="button-edit-container">
                    <input class="input-btn" type="submit" value="{{encuesta.buttonText}}" [disabled]="true"> 
                    <div class="edit-btn-controls">
                        <button class="round-btn" type="button" (click)="openEditBtnMenu()"><fa name="edit"></fa></button>
                    </div>
                </div>
        
            </form>
            <div class="message-url">
                <button class="action-btn big-btn" (click)="saveSurvey()"><fa name="save"></fa> Ajustar y publicar</button>
            </div>
        </div>
    </div>
</div>
