
<div class="content-wrapper">
    <div class="content">
        <div class="content-form-wrapper">
            <h1>1- Elige una plantilla inicial</h1>
            
            <div class="plantillas-container">
                <div class="fila">
                    <div class="plantilla">
                        <div class="plantilla-wrapper">
                            <h2>Nº 1</h2>
                            <h3>Plantilla en blanco</h3>
                            <img src="../../../assets/img/plantilla1.jpg">
                            <button class="action-btn" (click)="elegirPlantilla(0)">Elegir</button>
                        </div>
                    </div>
                    <div class="plantilla">
                        <div class="plantilla-wrapper">
                            <h2>Nº 2</h2>
                            <h3>Campo de selección</h3>
                            <img src="../../../assets/img/plantilla1.jpg">
                            <button class="action-btn" (click)="elegirPlantilla(1)">Elegir</button>
                        </div>
                    </div>
                </div>
                <div class="fila">
                    <div class="plantilla">
                        <div class="plantilla-wrapper">
                            <h2>Nº 3</h2>
                            <h3>Selección múltiple</h3>
                            <img src="../../../assets/img/plantilla1.jpg">
                            <button class="action-btn" (click)="elegirPlantilla(2)">Elegir</button>
                        </div>
                    </div>
                    <div class="plantilla">
                        <div class="plantilla-wrapper">
                            <h2>Nº 4</h2>
                            <h3>Campo de texto</h3>
                            <img src="../../../assets/img/plantilla1.jpg">
                            <button class="action-btn" (click)="elegirPlantilla(3)">Elegir</button>
                        </div>
                    </div>
                </div>
                <div class="fila">
                    <div class="plantilla">
                        <div class="plantilla-wrapper">
                            <h2>Nº 5</h2>
                            <h3>Campo de texto largo</h3>
                            <img src="../../../assets/img/plantilla1.jpg">
                            <button class="action-btn" (click)="elegirPlantilla(4)">Elegir</button>
                        </div>
                    </div>
                    <div class="plantilla">
                        <div class="plantilla-wrapper">
                            <h2>Nº 6</h2>
                            <h3>Un campo de cada tipo</h3>
                            <img src="../../../assets/img/plantilla1.jpg">
                            <button class="action-btn" (click)="elegirPlantilla(5)">Elegir</button>
                        </div>
                    </div>
                </div>

            </div>
      
        </div>
    </div>
</div>


