.content{
    padding-top:10px;
    .content-form-wrapper{
        color:#333;
        .plantillas-container{
            width: 650px;
            height: auto;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            padding: 20px;
            color:white;

            .fila{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                .plantilla{
                    display: flex;
                    flex-direction: column;
                    flex-basis: 100%;
                    flex: 1;
                    background-color:
                    #3f3d56;
                    margin: 10px;
                    border-radius: 5px;
                    .plantilla-wrapper{
                        display: flex;
                        flex-direction: column;
                        padding: 10px 20px;
                        align-items: center;
                        h2, h3{
                            margin:0;
                            color:white;
                        }

                        img{
                            max-width:200px;
                        }
                        .action-btn{
                            margin-top:8px;
                            width:50%;
                            border:2px solid #bbb5ff;
                            box-shadow: none;
                        }
                    }
                }
            }
            
        }

        .survey-form{
            .survey-header{
    
                .header-wrapper{
                    border: 0px solid #3f3d56;
                }
            }
            .survey-header:hover{
                .header-wrapper{
                    border: 0px solid #b5eae6;
                }
            }
    
            .form-fields{
                .form-group{
              
                    border: 0px solid #b5eae6;
                  
                }
                .form-group:hover {
                    border: 0px solid #3f3d56;
                  
                }
            }
    
            .button-edit-container{
                margin: 20px 10px 0px 10px;
                padding: 7px 0px;
                position: relative;
                border: 0px solid #b5eae6;
            
            }
            .button-edit-container:hover{
                border: 0px solid #3f3d56;
            }
        
        }
           
    }
}


