/* Main styles */

html, body{
    margin:0;
    height:100%;
    font-family: 'Titillium Web', sans-serif;
}
ul{
    padding:0;
    margin:0;
}

.content-wrapper{
    display:flex;
    height: calc(100% - 48px);

    .sidebar{
        min-width: 200px;
        background:#b5eae6;
        border-right: 2px solid #60cdcb;
        li{
            border-bottom:1px solid white;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            a{
                display: inline-block;
                padding: 15px 0px;
                text-decoration: none;
                color:#333;
                width:100%;
            }
            
        }
    }
}
