.slider-container{
    height: 330px;
    background-color: #BBB5FF;
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid #3f3d56;
    h1{
        margin:0;
        color:#3f3d56;
    }
    h4{
        margin-top:10px;
        color:#3f3d56;
    }
    .action-btn{
        background: #3f3d56;
        border:none;
        color:white;
        font-size:18px;
        width:200px;
        height:40px;
        border-radius:5px;
        text-transform: uppercase;
        font-family: 'Titillium Web', sans-serif;

    }
    .column{
        flex:1;
        img{
            width: 440px;
        }
    }
    .row{
        align-items: center;

    }
    .right-aligned{
       align-items: flex-end;
    }
}
.home-content{
    padding-top:50px;
    text-align: center;
}