.slider-container{
    height: 330px;
    background-color: #e7f0fe;
    display:flex;
    align-items: center;
    justify-content: center;
    .slider-container-wrapper{
        width: 1100px;
        margin: 0 auto;
        .row{
            align-items: center;
           
            .column{
                flex:1;
                width: 18%;
                img{
                    width: 440px;
                }
                h1{
                    margin:0;
                }
                h3{
                    margin-top:10px;
                }
                .action-btn{
                    font-size:18px;
                    width:200px;
                    height:40px;
                    border-radius:5px;
                }
            }
            .headline{
                max-width:550px;
            }
            .right-aligned{
               align-items: flex-end;
            }
        }
    }
}
.home-content{
    padding-top:50px;
    .home-content-wrapper{
        width: 1145px;
        margin: 0 auto;
        text-align: center;
        .row{
            flex-flow: row wrap;
            .col{
                width: 18%;
                background: var(--main-color);
                color: white!important;
                border-radius: 10px;
                margin: 0px 20px;
                padding:20px;
                .box-number{
                    font-size:50px;
                }
                h2, p{
                    margin:5px 0px;
                    color:White;
                }
            }
        }
        
    }
    .border-purple{
        margin-top:60px;
        border-top:5px solid var(--main-color);
        background-color:#e7f0fe;
        padding:75px 0px;
    }
    .big{
        width:250px;
    }
    .outline-btn{
        border:2px solid var(--main-color);
        color:var(--main-color);
        border-radius:20px;
        font-size:18px;
        font-weight: bold;
        height:40px;
        border-radius:5px;
    }
}

.action-btn{
    margin-left:0px;
}