<div class="slider-container">
    <div class="row">
        <div class="column headline">
            <h1>Crea encuestas disponibles en la nube</h1>
            <h3>Conoce, evalúa, mide, e investiga, de forma gratuita. Crea tu encuesta y compártela!</h3>
            <button class="action-btn"><fa name="arrow-right"></fa> Crear encuesta</button>
        </div>
        <div class="column right-aligned">
            <img src="assets/img/imgslider.png">
        </div>

    </div>
</div>
<div class="home-content">
    <p>Realiza encuestas y compártelas con los interesados hasta 15 días después de crearlas.</p> 
    <p>Recibe los resultados automáticamente en tu correo cuando el tiempo haya finalizado</p>
</div>
