<div class="slider-container">
    <div class="slider-container-wrapper">
        <div class="row">
            <div class="column headline">
                <h1>Crea encuestas disponibles en la nube</h1>
                <h3>Conoce, evalúa, mide, e investiga, de forma gratuita. Crea tu encuesta y compártela!</h3>
                <button class="action-btn"><fa name="arrow-right"></fa> Crear encuesta</button>
            </div>
            <div class="column right-aligned">
                <img src="assets/img/img-slider.svg">
            </div>
    
        </div>
    </div>
</div>
<div class="home-content">
    <div class="home-content-wrapper">
        <div class="row">
            <div class="col">
                <span class="box-number">1</span>
                <h2>Autentifícate</h2>
                <p>Login automático en plataforma segura de Google</p>
            </div>
            <div class="col">
                <span class="box-number">2</span>
                <h2>Configura</h2>
                <p>Login automático en plataforma segura de Google</p>
            </div>
            <div class="col">
                <span class="box-number">3</span>
                <h2>Publica</h2>
                <p>Login automático en plataforma segura de Google</p>
            </div>
            <div class="col">
                <span class="box-number">4</span>
                <h2>Comparte</h2>
                <p>Login automático en plataforma segura de Google</p>
            </div>
        </div>
    </div>
    <div class="row border-purple">
        <div class="home-content-wrapper">
            <div class="sobre-sm">
                <h2>¿Tienes alguna duda o sugerencia?</h2>
                <button class="outline-btn big"><fa name="envelope-o"></fa> Contacta</button>
            </div>
        </div>

    </div>
</div>
